/* headline

*/

.headline {
    $headline-font-size: 103;

    padding: rem(150) rem(80);

    // basic font settings
    @extend .myriad-pro-bold;
    text-align: center;
    font-size: rem($headline-font-size);

    // psd translated settings
    line-height: ps-line-height($headline-font-size, 95);
    letter-spacing: rem(-5);
}
